<div class="background">
  <div class="main-container">
    <header>
      <div class="style">
         стиль
      </div>
      <div>
        <button class="button nav">Home</button>
        <button class="button nav">Play</button>
        <button class="button nav">Profile</button>
      </div>
      <div class="authorization">
        <div class="log-in ">
          <button class=" button">Log in</button>
        </div>
        <div class="sign-up">
          <button class=" button">Sing up</button>
        </div>
      </div>

    </header>
    <div class="logo">
      <div class="logo-name">
        <span style="--d:1">W</span>
        <span style="--d:2">e</span>
        <span style="--d:3">b. </span>
        <span style="--d:4">P</span>
        <span style="--d:5">i</span>
        <span style="--d:6">x</span>
        <span style="--d:7">e</span>
        <span style="--d:8">l </span>
        <span style="--d:6">a</span>
        <span style="--d:7">r</span>
        <span style="--d:8">t</span>
      </div>
    </div>
    <div class="description-container">
      <div class="description" style="color: #fff">
        Welcome to our unique website in pixel style! Immerse yourself in a magical world of creativity,
        where every image becomes a true work of art. Our platform offers you the opportunity to paint pictures by
        numbers,
        creating vibrant and original masterpieces. Follow the markings, choose your palette, and breathe life into the
        pixels
        until the image blossoms in all its beauty. Be the artist in your own digital artistry!
      </div>
      <div class="video-gameplay">
        <h2 class="video-text">no video</h2>
      </div>
    </div>
    <div class="join-content description">
      Join our pixel community, share your creations, and enjoy the captivating process of art-making.
      Discover new horizons in your hobby and draw inspiration from the beauty of the world in pixel form. Welcome
      to a unique creative journey
    </div>
  </div>
</div>
